<!-- web/templates/base.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Language Translator</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <nav>
        <ul>
            {% if request.cookies.get('access_token') %}
            <li><a href="">Dashboard</a></li>
            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="container">
        {% if message %}
        <div class="message">{{ message }}</div>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
</body>

</html>